{% extends "global.html" %}  <!-- Corrigir para extends, se for para herdar o layout -->
{% load static %}
{% block conteudo %}
<div class="principal">
    <div class="logo">
        <img src="{% static "images/csv-logo.png" %}" alt="logo">
    </div>
</div>
<div class="gabarito">
    <img src="{% static "images/gabarito-obra.jpg" %}" alt="">
</div>
<div class="formulario">
    <form  method="post" action="/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="formul">
            <a href="modelo-csv/" class="model">1° Baixar Modelo CSV</a>
            <label for="id_arquivo_csv" id="label_arquivo_csv">
                2° Enviar CSV
                <input type="file" accept=".csv" name="arquivo_csv" required id="id_arquivo_csv">
            </label>
            <label for="modelos">  Modelo do Email:</label>
            <select name="modelos" id="modelos">
                <option value="email_obraelar.html">Obra & Lar</option>
            </select>
            <label for="prices">  Mostrar Preço?</label>
            <select name="prices" id="prices">
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
            <button class="enviar" type="submit">3° Criar Email</button>
        </div>
    </form>
</div>
{% endblock %}